<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Switchboard</title>
</head>
<body>
    <h1>SwitchBoard</h1>
    <div>
        <section class="switch" *ngFor="let switch of switches; let idx = index">
            <button
            *ngIf="switch"
            [ngClass]="{'on': switch}"
            (click)="flipSwitch(idx)"
            >ON</button>
            <button 
            *ngIf="!switch"
            [ngClass]="{'on': switch}"
            (click)="flipSwitch(idx)"
            >OFF</button>
        </section>
    </div>
</body>
</html>
