<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Wolf</title>
</head>
<body>
    <form action="/" method="post">
        Name: <input type="text" name="name">
        Location: <input type="text" name="location">
        Food Source: <input type="text" name="food_source">
        Weight: <input type="text" name="weight">
        <input type="submit" value="Create New Wolf">
    </form>
</body>
</html>