input[type=text] {
    height: 15px; 
    line-height: 15px;
}

div{
    width: 700px;
    border: 1px solid black;
    margin-left: 25px;
    padding-left: 50px;
}
section{
    width: 600px;
    margin-top: 25px;
    margin-bottom: 25px
}
input[type=submit]{
    width: 500px;
    border: 2px solid black;
}
.ng-invalid { }
.ng-valid { }
.ng-untouched { }
.ng-touched { }
.ng-dirty { }
.ng-pristine { }

.error{
    color: red;
}

.valid{
    color: green;
}